1. How many respondents completed the survey?
2. How many respondents answered all the questions?
3. What are the measures of central tendency for the respondents' work experience (WorkExp)?
4. How many respondents work remotely?
5. What percentage of respondents code in Python?
6. How many respondents learned to code through online courses?
7. Among respondents who code in Python, grouped by country, what are the average and median compensation amounts (ConvertedCompYearly) in each country?
8. What education levels do the 5 respondents with the highest compensation have?

Bonus questions:
1. In each age category, what percentage of respondents code in Python?
2. Among respondents in the 75th percentile of average compensation who work remotely, what are the most common industries?

In [9]:
import pandas as pd

In [11]:
df_sof24 = pd.read_csv(r'C:\Users\admin\Documents\Домашка пайтон\survey_results_public.csv')
df_schema24 = pd.read_csv(r'C:\Users\admin\Documents\Домашка пайтон\survey_results_schema.csv')

In [6]:
df_sof24.sample(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
5332,5333,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Bootstrapping a business;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;On the job training;Other online res...,Technical documentation;Blogs;Written Tutorial...,...,20.0,80.0,0.0,0.0,0.0,0.0,Too long,Difficult,27973.0,8.0
5991,5992,I am a developer by profession,35-44 years old,"Employed, full-time",In-person,Apples,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,Too long,Neither easy nor difficult,NaN,7.0
54029,54030,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Professional development or self-paced learnin...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42410,42411,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Colleague;Other online resources (e.g., videos...",Technical documentation;Blogs;Books;Stack Over...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
34189,34190,I am a developer by profession,18-24 years old,"Not employed, but looking for work",NaN,Apples,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN

In [7]:
df_schema24.sample(5)

,qid,qname,question,force_resp,type,selector
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
82,QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
35,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,SAVR
15,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
47,QID339,AIEthics,Which AI ethical responsibilities are most imp...,False,MC,MAVR

In [12]:
df_sof24.shape

(65437, 114)

In [13]:
df_schema24.shape

(87, 6)

In [74]:
df_sof24.info

<bound method DataFrame.info of        ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
...           ...                             ...                 ...
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                Employment                            RemoteWork   Check  \
0      Employed, full-time                                Remote  Apples
1      Employed, full-time                                Remote  Apples
2      Employed, full-time                                Remote  Apples
3       Student, full-time                                   NaN  Apples
4       Student, full-time                                   NaN  Apples
...                    ...                                   ...     ...
65432  Employed, full-time                                Remote  Apples
65433  Employed, full-time                                Remote  Apples
65434  Employed, full-time                             In-person  Apples
65435  Employed, full-time  Hybrid (some remote, some in-person)  Apples
65436   Student, full-time                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435  Secondary school (e.g. American high school, G...
65436                                                NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
0                                                    NaN  ...            NaN
1      Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2      Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3      Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4      Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65435  Technical documentation;Blogs;Written Tutorial...  ...            0.0
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0                NaN            NaN            NaN             NaN
1                0.0            0.0            0.0             0.0
2                NaN            NaN            NaN             NaN
3                NaN            NaN            NaN             NaN
4                NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65435            0.0            0.0            0.0             0.0
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
0                 NaN                    NaN        NaN                 NaN
1                 0.0                    NaN        NaN                 NaN
2                 NaN  Appropriate in length       Easy                 NaN
3                 NaN               Too long       Easy                 NaN
4                 NaN              Too short       Easy                 NaN
...               ...                    ...        ...                 ...
65432             NaN                    NaN        NaN                 NaN
65433             NaN                    NaN        NaN                 NaN
65434             NaN                    NaN        NaN                 NaN
65435             0.0                    NaN        NaN                 NaN
65436             NaN                    NaN        NaN                 NaN

      JobSat
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
65432    NaN
65433    NaN
65434    NaN
65435    NaN
65436    NaN

[65437 rows x 114 columns]>

In [17]:
# 1. How many respondents completed the survey?
total_respondents = df_sof24['ResponseId'].nunique()
print(f"Number of respondents who completed the survey: {total_respondents}")

Number of respondents who completed the survey: 65437

In [13]:
# 2. How many respondents answered all the questions?
df_sof24.dropna().shape[0]
df_sof24.shape[0]

65437

In [20]:
questions_set= set(df_schema24['qname']).intersection(df_sof24.columns)
questions_set

{'AIAcc',
 'AIBen',
 'AIChallenges',
 'AIComplex',
 'AIEthics',
 'AISelect',
 'AISent',
 'AIThreat',
 'Age',
 'BuildvsBuy',
 'BuyNewTool',
 'Check',
 'CodingActivities',
 'CompTotal',
 'Country',
 'Currency',
 'DevType',
 'EdLevel',
 'Employment',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'Frustration',
 'ICorPM',
 'Industry',
 'JobSat',
 'JobSatPoints_1',
 'JobSatPoints_10',
 'JobSatPoints_11',
 'JobSatPoints_4',
 'JobSatPoints_5',
 'JobSatPoints_6',
 'JobSatPoints_7',
 'JobSatPoints_8',
 'JobSatPoints_9',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Knowledge_8',
 'Knowledge_9',
 'LearnCode',
 'LearnCodeOnline',
 'MainBranch',
 'NEWSOSites',
 'OrgSize',
 'ProfessionalCloud',
 'ProfessionalQuestion',
 'ProfessionalTech',
 'PurchaseInfluence',
 'RemoteWork',
 'SOAccount',
 'SOComm',
 'SOHow',
 'SOPartFreq',
 'SOVisitFreq',
 'SurveyEase',
 'SurveyLength',
 'TBranch',
 'TechDoc',
 'TechEndorse',
 'TimeAnswering',
 'TimeSearching',
 'WorkExp',
 'YearsCode',
 'YearsCodePro'}

In [21]:
answered_all = df_sof24[list(questions_set)].dropna().shape[0]
print(f"Number of respondents who answered all questions: {answered_all}")

Number of respondents who answered all questions: 6306

In [14]:
# 3. What are the measures of central tendency for the respondents' work experience (WorkExp)?
print('WorkExp' in df_sof24.columns)

True

In [63]:
print(df_sof24['WorkExp'].unique()[:10])

[nan 17. 15. 12. 29. 10. 18. 16.  6.  7.]

In [22]:
avg_exp = round(df_sof24['WorkExp'].mean(), 1)
median_exp = round(df_sof24['WorkExp'].median(), 1)
mode_exp = round(df_sof24['WorkExp'].mode().iloc[0], 1)
print(f"The values of measures of central tendency for WorkExp are: "
      f"mean = {avg_exp}, median = {median_exp}, mode = {mode_exp}")

The values of measures of central tendency for WorkExp are: mean = 11.5, median = 9.0, mode = 3.0

In [15]:
# 4. How many respondents work remotely?
print(df_sof24['RemoteWork'].value_counts(dropna=False))

RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
NaN                                     10631
Name: count, dtype: int64

In [16]:
remote_count = df_sof24[df_sof24['RemoteWork'].str.contains('Remote', na=False)].shape[0]
print("Number of respondents who work remotely:", remote_count)

Number of respondents who work remotely: 20831

In [23]:
# 5. What percentage of respondents code in Python?
print('LanguageHaveWorkedWith' in df_sof24.columns)

True

In [76]:
print(df_sof24['LanguageHaveWorkedWith'].unique()[:10])

[nan
 'Bash/Shell (all shells);Go;HTML/CSS;Java;JavaScript;Python;TypeScript'
 'C#'
 'C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;Python;SQL;TypeScript'
 'C++;HTML/CSS;JavaScript;Lua;Python;Rust'
 'Bash/Shell (all shells);HTML/CSS;Java;JavaScript;Python;Rust;Swift;TypeScript'
 'R' 'HTML/CSS;JavaScript;TypeScript' 'Lua' 'JavaScript;Python;Ruby']

In [77]:
print(df_sof24['LanguageHaveWorkedWith'].value_counts(dropna=False))

LanguageHaveWorkedWith
NaN                                                                                                    5692
HTML/CSS;JavaScript;TypeScript                                                                         1002
Python                                                                                                  832
HTML/CSS;JavaScript;PHP;SQL                                                                             503
HTML/CSS;JavaScript                                                                                     452
                                                                                                       ...
Haskell;HTML/CSS;Java;JavaScript;PowerShell;Python;TypeScript;Visual Basic (.Net)                         1
HTML/CSS;Java;Python;Scala;TypeScript                                                                     1
C;Dart;Rust                                                                                               1
Assembly;Bash/Shell (all shells);C;C#;C++;Dart;Go;HTML/CSS;JavaScript;Lua;PHP;Python;SQL;TypeScript       1
Bash/Shell (all shells);C;C++;HTML/CSS;Java;JavaScript;PHP;SQL;TypeScript;VBA                             1
Name: count, Length: 23865, dtype: int64

In [25]:
python_count = df_sof24[df_sof24['LanguageHaveWorkedWith'].str.contains('Python', na=False)].shape[0]
total_count = df_sof24['LanguageHaveWorkedWith'].notna().sum()
print("Python", python_count), print("Total", total_count)

Python 30795
Total 59745

(None, None)

In [26]:
python_percent = (python_count/ total_count) * 100
print("Number of respondents who program in Python:", str(round(python_percent, 1)) + "%")

Number of respondents who program in Python: 51.5%

In [27]:
# 6. How many respondents learned to program through online courses?
print(df_sof24['LearnCodeOnline'].value_counts(dropna=False))

LearnCodeOnline
NaN                                                                                                                                                                                                16200
Technical documentation;Blogs;Written Tutorials;Stack Overflow                                                                                                                                       603
Technical documentation;Blogs;Books;Written Tutorials;Stack Overflow                                                                                                                                 505
Technical documentation;Written Tutorials;Stack Overflow                                                                                                                                             384
Technical documentation;Blogs;Books;Written Tutorials;Stack Overflow;Social Media                                                                                                                    331
                                                                                                                                                                                                   ...
Blogs;Books;Written Tutorials;Stack Overflow;How-to videos;Certification videos;Online challenges (e.g., daily or weekly coding challenges);Programming Games                                          1
Technical documentation;Blogs;Books;Coding sessions (live or recorded);Video-based Online Courses;Online challenges (e.g., daily or weekly coding challenges)                                          1
Written Tutorials;Social Media;How-to videos;Video-based Online Courses;AI;Online challenges (e.g., daily or weekly coding challenges)                                                                 1
Blogs;Books;Written Tutorials;Stack Overflow;Social Media;How-to videos;Interactive tutorial;Video-based Online Courses;Written-based Online Courses;Certification videos                              1
Blogs;Books;Written Tutorials;Stack Overflow;Coding sessions (live or recorded);Social Media;How-to videos;Interactive tutorial;Written-based Online Courses;Auditory material (e.g., podcasts)        1
Name: count, Length: 10854, dtype: int64

In [28]:
online_courses_count = df_sof24[df_sof24['LearnCodeOnline'].str.contains('Online Courses', na=False)].shape[0]
print("The number of respondents who learned programming through online courses:", online_courses_count)

The number of respondents who learned programming through online courses: 30549

In [34]:
# 7. Among respondents who program in Python grouped by country, what is the average and median compensation amount (ConvertedCompYearly) in each country?
python_devs = df_sof24[df_sof24['LanguageHaveWorkedWith'].str.contains('Python', na=False)]
python_devs = python_devs.dropna(subset=['Country', 'ConvertedCompYearly'])
python_devs['ConvertedCompYearly'] = pd.to_numeric(python_devs['ConvertedCompYearly'], errors='coerce')
print("Average and median compensation amount (ConvertedCompYearly) in each country of respondents programming in Python, grouped by country:\n")
result = python_devs.groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median']).reset_index()
print(result.round(1))

Average and median compensation amount (ConvertedCompYearly) in each country of respondents programming in Python, grouped by country:

                                  Country      mean    median
0                             Afghanistan    4543.0    4768.5
1                                 Albania   56295.0   56295.0
2                                 Algeria    9053.3    6230.0
3                                 Andorra  193331.0  193331.0
4                                  Angola       6.0       6.0
..                                    ...       ...       ...
146  Venezuela, Bolivarian Republic of...   21500.0    7100.0
147                              Viet Nam   14014.6   10180.0
148                                 Yemen   10297.3    5333.0
149                                Zambia   28123.7   22803.0
150                              Zimbabwe   37500.0   18000.0

[151 rows x 3 columns]

In [37]:
# 8. What levels of education do the 5 respondents with the highest compensation have?
df_filtered = df_sof24.dropna(subset=['ConvertedCompYearly', 'EdLevel']).copy()
df_filtered.loc[:, 'ConvertedCompYearly'] = pd.to_numeric(df_filtered['ConvertedCompYearly'], errors='coerce')
df_sorted = df_filtered.sort_values(by='ConvertedCompYearly', ascending=False)
top5 = df_sorted.head(5)
print("5 levels of education of respondents with the highest compensation:")
print(top5[['ConvertedCompYearly', 'EdLevel']])

5 levels of education of respondents with the highest compensation:
       ConvertedCompYearly                                         EdLevel
15837           16256603.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
12723           13818022.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
28379            9000000.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
17593            6340564.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
17672            4936778.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)

In [39]:
# Bonus question 1: In each age category, what percentage of respondents program in Python?
total_by_age = df_sof24.groupby('Age').size()
python_by_age = df_sof24[df_sof24['LanguageHaveWorkedWith'].str.contains('Python', na=False)].groupby('Age').size()
percent_by_age = (python_by_age / total_by_age * 100).round(1).astype(str) + '%'
print("The percentage of respondents who program in Python by age category:")
print(percent_by_age)

The percentage of respondents who program in Python by age category:
Age
18-24 years old       55.9%
25-34 years old       45.8%
35-44 years old       41.5%
45-54 years old       41.9%
55-64 years old       40.4%
65 years or older     37.6%
Prefer not to say     45.3%
Under 18 years old    64.9%
dtype: object

In [40]:
# Bonus question 2: Among respondents who are in the 75th percentile for compensation and work remotely, which industries are the most common?
percentile_75 = df_sof24['ConvertedCompYearly'].quantile(0.75)
filtered = df_sof24[
    (df_sof24['ConvertedCompYearly'] >= percentile_75) &
    (df_sof24['RemoteWork'].str.contains('Remote', na=False))
]

In [42]:
industry_counts = filtered['Industry'].value_counts().head(10)
print("Industries that are most prevalent among respondents who are in the 75th percentile for average compensation and work remotely:")
print(industry_counts)

Industries that are most prevalent among respondents who are in the 75th percentile for average compensation and work remotely:
Industry
Software Development                          768
Other:                                        239
Healthcare                                    156
Fintech                                       156
Internet, Telecomm or Information Services    145
Retail and Consumer Services                  106
Media & Advertising Services                  103
Computer Systems Design and Services           69
Banking/Financial Services                     69
Government                                     69
Name: count, dtype: int64